# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# JSON
JSON/

# Visual studio files
Project/.vs
Project/x64
Project/Project.sln
Project/Project.vcxproj
Project/Project.vcxproj.filters
Project/Project.vcxproj.user

results.json
MC0_Home.json
MC0_Simple.json
Results/
Backup/
Project/valgrind-out.txt
Project/valgrind-out1.txt
MC1.json
